<% for (const comment of comments) { %>
<div class="comment">
    <h2>By <%= comment.username || 'Anonymous' %></h2>
    <h3>Posted on <%= comment.createdAt ? new Date(comment.createdAt).toLocaleDateString() : 'Unknown date' %></h3>
    <p><%= comment.comment %></p>
    <% if (comment.canDeleteComment) { %>
        <form id="delete-comment" action="/review/<%= review.rr %>/comment/<%= comment.cc %>/delete" method="POST">
            <button type="submit" class="delete-button">Delete Comment</button>
        </form>
    <% } %>
</div>
<% } %>