<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Review Details</title>
    <meta name="author" content="Gloria">
    <link rel="stylesheet" href="/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include ('navbar') %>
    <div id="review">
        <h1><%= review.title %></h1>
        <h3>By <%= review.username || 'Anonymous' %></h3>
        <h3>Posted <%= review.createdAt ? new Date(review.createdAt).toLocaleDateString() : 'Unknown date' %></h3>
        <h2>Location</h2>
        <p><%= review.location_name %></p>
        <h2>Rating</h2>
        <p><%= review.rating %> Stars</p>
        <h2>Review</h2>
        <p><%= review.review %></p>
        <h2>Tags</h2>
        <ul>
            <% if (review.tags) { %>
            <% (Array.isArray(review.tags) ? review.tags : [review.tags]).forEach(tag => { %>
                <li><%= tag.trim() %></li>
            <% }) %>
            <% } %>
        </ul>
    </div>
    <div id="comments">
        <%- include ('comments') %>
    </div>
</body>
</html>