<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Review Details</title>
    <meta name="author" content="Gloria">
    <link rel="stylesheet" href="/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include ('navbar') %>
    <div id="review">
        <h1><%= full_review.title %></h1>
        <h2>Location</h2>
        <p><%= full_review.location_name %></p>
        <h2>Rating</h2>
        <p><%= full_review.rating %> Stars</p>
        <h2>Review</h2>
        <p><%= full_review.review %></p>
        <h2>Tags</h2>
        <ul>
            <% (full_review.tags ? full_review.tags.split(',') : []).forEach(tag => { %>
        <li><%= tag.trim() %></li>
    <% }) %>
        </ul>
    </div>
    <div>
        <%- include ('comments') %>
    </div>
        
</body>
</html>