<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Review Details</title>
    <meta name="author" content="Gloria">
    <link rel="stylesheet" href="/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/review.js"></script>
</head>
<body>
    <%- include ('navbar') %>
    <div id="review">
        <% if (flashError && flashError.length > 0) { %>
            <p class="error"><i><%= flashError[0] %></i></p>
        <% } %>
        <% if (flashInfo && flashInfo.length > 0) { %>
            <p class="info"><%= flashInfo[0] %></p>
        <% } %>

        <h1><%= review.title %></h1>
        <h2>By <%= review.username || 'Anonymous' %></h2>

        <h2>Posted <%= review.createdAt ? new Date(review.createdAt).toLocaleDateString() : 'Unknown date' %></h2>
        <h3>Location</h3>
        <p><%= review.location_name %></p>
        <h3>Rating</h3>
        <p><%= review.rating %> Stars</p>
        <h3>Review</h3>
        <p><%= review.review %></p>
        <h3>Tags</h3>
        <ul>
            <% if (review.tags) { %>
                <% (Array.isArray(review.tags) ? review.tags : [review.tags]).forEach(tag => { %>
                    <li><%= tag.trim() %></li>
                <% }) %>
            <% } %>
        </ul>
        <% if (review.photo_path) { %>
            <h3>Photo</h3>
            <img src="/uploads/<%= review.photo_path %>" alt="<%= review.photo_caption || ('Image of ' + review.location_name) %>" style="width:30%;"">
            <% if (review.photo_caption) { %>
                <p><%= review.photo_caption %></p>
            <% } %>
        <% } %>
        <h3><%= review.likeCount ?? 0 %> Likes</h3>
        <% if (canEdit) { %>
            <button class="click-changes-button">Make Changes</button>
            <form class="delete-review" action="/review/<%= review.rr %>/delete" method="POST">
                <button type="submit" class="delete-button">Delete Review</button>
            </form>
       <% } else {%>
            <form action="/like" method="POST">
                <input type="hidden" name="rr" value="<%= review.rr %>">
                <button type="submit">Like Review</button>
            </form>
    <% } %>
    </div>

    <% if (canEdit) { %>
        <div class="change-review" style="display: none;">
            <%- include('updateReview') %>
        </div>
    <% } %>

    <div id="comments">
        <%- include ('comments') %>
    </div>
    <a href="/reviews">View all Reviews</a>
</body>
</html>